<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="addPost">
    <div th:if="${userPrincipal.creator}" class="container">
        <form action="/posts" method="post">
            <fieldset class="mb-3">
                <label class="form-label" for="edit-title">Post Title:</label>
                <input class="form-control" placeholder="Title" id="edit-title" type="text" name="title"></input>
            </fieldset>
            <fieldset class="mb-3">
                <label class="form-label" for="edit-description">Description:</label>
                <textarea class="form-control" placeholder="Description" id="edit-description" name="text"></textarea>
            </fieldset>
            <input class="btn btn-outline-primary" type="submit" value="Submit Post!"></input>
        </form>
    </div>
</section>
</body>
</html>