<!DOCTYPE html>
<html lang="en">

<body>
<div th:fragment="follow(user)">
  <th:block th:if="${userPrincipal} and ${userPrincipal.followers.contains(userPrincipal)}">
  <form th:action="'/follow/' + ${user.id} + '?_method=delete'" method="post">
    <input type="submit" value="Unfollow">
  </form>
  </th:block>
  <th:block th:if="${userPrincipal} and ${false == user.followers.contains(userPrincipal)}">
    <form th:action="'/follow/' + ${user.id} + '?_method=put'" method="post">
      <input type="submit" value="Follow">
    </form>
  </th:block>
</div>
</body>
</html>