<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<section th:fragment="postImage(image)">
    <img class="img-fluid" th:src="${@postService.getImageUrl(image)}">
    <div class="row justify-content-center">
        <div class="p-2" th:if="${image.description}" th:text="'Description: ' + ${image.description}"></div>
    </div>
</section>

<section class="card col-md-9 col-l-8 col-xl-7 col-xxl-6" th:fragment="editViewPostImage(${image})">
    <img th:src="${@postService.getImageUrl(image)}">
    <div class="row justify-content-center">
        <div class="p-2" th:if="${image.description}" th:text="'Description: ' + ${image.description}"></div>
    </div>

    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#editDescription" aria-expanded="false" aria-controls="editDescription">
        <i class="bi bi-pencil-fill"></i>
        Edit Description
    </a>
    <div class="collapse" id="editDescription">
        <form th:action="'/posts/' + ${image.post.id} + '/images/' + ${image.id} + '?_method=put'"
              method="post">
            <fieldset>
                <label for="input-description">Description</label>
                <textarea id="input-description" name="description"
                          value="${image.description}"></textarea>
            </fieldset>
            <input class="col-md-2 btn btn-outline-secondary btn-lg" type="submit" value="Edit description"></input>
        </form>

        <form th:action="'/posts/' + ${image.post.id} + '/images/' + ${image.id} + '?_method=delete'"
              method="post">
            <input class="col-md-2 btn btn-outline-secondary btn-lg" type="submit" value="Delete image"></input>
        </form>
    </div>

</section>

<section id="postImageCarousel" class="carousel slide" data-bs-ride="carousel" th:fragment="postImageCarousel(post)">
    <div class="carousel-inner">
        <div th:each="image, itStatus: ${post.images}"
             th:class="${itStatus.first}? 'carousel-item active' : 'carousel-item'">
            <div th:replace="fragments/image :: postImage(${image})"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#postImageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#postImageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>

<section th:fragment="postImages(post)">
    <ul th:each="image : ${post.images}">
        <li th:replace="fragments/image :: postImage(${image})">
        </li>
    </ul>
</section>

<section th:fragment="editPostImages(post)">
    <ul th:each="image : ${post.images}">
        <li th:replace="fragments/image :: editViewPostImage(${image})">
        </li>
    </ul>
</section>

<section th:fragment="addPostImages(post)">
    <form class="row gx-3" th:action="'/posts/' + ${post.id} + '/images'"
          method="post" enctype="multipart/form-data">
        <input class="form-control form-control-sm col-md-6" type="file" name="images" multiple></input>
        <input class="col-md-2 btn btn-outline-secondary btn-sm" type="submit" value="Add images"></input>
    </form>
</section>

</body>
</html>