<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="d-flex flex-column h-100">
<header th:fragment="header"
        class="p-3 mb-2 bg-secondary bg-gradient text-white">

    <nav th:replace="${userPrincipal == null} ?
    ~{fragments/logged-nav :: loggedOut} :
    ~{fragments/logged-nav :: loggedIn}">


    </nav>
</header>

<nav th:fragment="loggedIn">
</nav>

<nav th:fragment="loggedOut">
</nav>

<footer class="footer mt-auto bg-light" th:fragment="footer">
    footer
</footer>
</body>
</html>