<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<nav th:fragment="nav">
    <th:block th:if="${userPrincipal}">
        <th:block th:replace="loggedIn"></th:block>
    </th:block>
    <th:block th:if="${userPrincipal == null}">
        <th:block th:replace="fragments/log-nav :: loggedOut"></th:block>
    </th:block>



</nav>
<nav th:fragment="loggedIn">
    <ul class="d-flex justify-content-end">
        <li class="btn btn-sm btn-outline-secondary"><a href="/">Home</a></li>
        <li class="li li-outline-dark"><a href="/profile">Profile</a></li>
        <li class="btn btn-outline-dark"><a href="/feed">Feed</a></li>
        <li class="btn btn-outline-dark"><a href="/discover">Discover</a></li>
        <li class="btn btn-outline-dark"><a href="/about">About Us</a></li>


    <li th:text="${principal.username}"></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>

<nav th:fragment="loggedOut">
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item btn btn-outline-dark"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item btn btn-outline-dark"><a class="nav-link active" href="/login">Login</a></li>
        <li class="nav-item btn btn-outline-dark"><a class="nav-link active" href="/signup">Signup</a></li>
        <li class="nav-item btn btn-outline-dark"><a class="nav-link active" href="/about">About Us</a></li>
    </ul>
</nav>
</body>
</html>