<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<section th:fragment="list(posts)">
<ul th:each="post : ${posts}">
    <li th:replace="fragments/post :: short(${post})"></li>
</ul>
</section>

<section th:fragment="short(post)">
    <th:block th:if="${userPrincipal} and ${userPrincipal.id == post.author.id}">
        <th:block th:replace="fragments/post :: usersOwnShort(${post})"></th:block>
    </th:block>
    <th:block th:if="${userPrincipal} and ${userPrincipal.id != post.author.id}">
        <th:block th:replace="fragments/post :: loggedInShort(${post})"></th:block>
    </th:block>
    <th:block th:if="${userPrincipal == null}">
        <th:block th:replace="fragments/post :: notLoggedInShort(${post})"></th:block>
    </th:block>
</section>

<th:block th:fragment="usersOwnShort(post)">
    <div th:if="${post.hasDefaultImage}">
        <img th:src="${@postService.getDefaultImageSmallUrl(post)}">
    </div>

    <a th:href="'/posts/' + ${post.id}">
        <h2 th:text="${post.title}"></h2>
    </a>
    <a th:href="'/users/' + ${post.author.id}">
        <h3 th:text="'Post by ' + ${post.author.displayName}"></h3>
    </a>
    <p th:text="${post.text}"></p>
    <nav>
        <ul>
            <li><a th:href="'posts/' + ${post.id} + '/edit'">Edit post</a></li>
        </ul>
    </nav>
</th:block>

<th:block th:fragment="loggedInShort(post)">
    <div th:if="${post.hasDefaultImage}">
        <img th:src="${@postService.getDefaultImageSmallUrl(post)}">
    </div>

    <a th:href="'/posts/' + ${post.id}">
        <h2 th:text="${post.title}"></h2>
    </a>
    <a th:href="'/users/' + ${post.author.id}">
        <h3 th:text="'Post by ' + ${post.author.displayName}"></h3>
    </a>
    <p th:text="${post.text}"></p>
</th:block>

<th:block th:fragment="notLoggedInShort(post)">
    <div th:if="${post.hasDefaultImage}">
        <img th:src="${@postService.getDefaultImageSmallUrl(post)}">
    </div>

    <a th:href="'/posts/' + ${post.id}">
        <h2 th:text="${post.title}"></h2>
    </a>
    <a th:href="'/users/' + ${post.author.id}">
    <h3 th:text="'Post by ' + ${post.author.displayName}"></h3>
    </a>
    <p th:text="${post.text}"></p>
</th:block>

</body>
</html>