<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head('About Us')">
</head>
<body>
<header th:replace="fragments/layout :: header"> </header>
<main>
    <h1>About Us</h1>



    <section>
        <h2>Andy Agulue</h2>
        <img src="/assets/shay.jpg" alt="Andy">
        <a href="https://github.com/AndyAgulue"><img src="/assets/githubicon.png"></img>
        </a>
        <a href="https://www.linkedin.com/in/andy-agulue/"><img src="/assets/linkedinicon.png"></img>
        </a>
        <p>Andy's blurb</p>
    </section>
    <section>
        <h2>Seamus Brown</h2>
        <img src="/assets/shay.jpg" alt="Andy">
        <a href="https://github.com/shaybrow"><img src="/assets/githubicon.png"></img>
        </a>
        <a href="www.linkedin.com/in/seamusryanbrown"><img src="/assets/linkedinicon.png"></img>
        </a>
        <p>Before I dove into the tech world I worked a host of different jobs. My love for solving problems led me from manufacturer to Digital Campaign Manager with a 6 digit ad budget at an ecommerce startup. I managed our site and thoroughly enjoyed implementing apps to make it more engaging to our customers. From there I moved into customer service which helped me refine my empathy and emotional intelligence. The promise of constantly learning new skills and overcoming obstacles as part of a team charmed me into software development. I find customer feedback an excellent inspiration to create better experiences and I'd love to integrate that passion into my craft as a developer.</p>
    </section>
    <section>
        <h2>Edward Hou</h2>
        <img src="/assets/shay.jpg" alt="Andy">
        <a href="https://github.com/wordhou"><img src="/assets/githubicon.png"></img>
        </a>
        <a href="https://www.linkedin.com/in/ed-hou/"><img src="/assets/linkedinicon.png"></img>
        </a>
        <p>Ed's blurb</p>
    </section>
    <section>
        <h2>James Mansour</h2>
        <img src="/assets/shay.jpg" alt="Andy">
        <a href="https://github.com/F0rgiv"><img src="/assets/githubicon.png"></img>
        </a>
        <a href="https://www.linkedin.com/in/james-mansour/"><img src="/assets/linkedinicon.png"></img>
        </a>
        <p>James' blurb</p>
    </section>
</main>
<footer th:replace="fragments/layout :: footer"> </footer>
</body>
</html>