<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head('About Us')">

</head>
<body>
<link rel="stylesheet" href="/css/about-us.css">
<header th:replace="fragments/layout :: header"> </header>

<main id="about-us">

<ul id="blurbs">



        <h2 id="andyh2" class="member-name">Andy Agulue</h2>
        <img id="andy" class="hero" src="/assets/shay.jpg" alt="Andy">
        <p class="intro" id="andyp"> From there I moved into customer service which helped me refine my empathy and emotional intelligence. The promise of constantly learning new skills and overcoming obstacles as part of a team charmed me into software development. I find customer feedback an excellent inspiration to create better experiences and I'd love to integrate that passion into my craft as a developer.</p>
        <p id="andy-links" class="links">
        <a href="https://github.com/AndyAgulue"><img src="/assets/githubicon.png"></img>
        </a>
        <a href="https://www.linkedin.com/in/andy-agulue/"><img src="/assets/linkedinicon.png"></img>
        </a></p>


        <h2 id="edh2" class="member-name">Edward Hou</h2>
        <img src="/assets/shay.jpg" id="ed" class="hero" alt="Ed">
        <p id="edp" class="intro">Before I dove into the tech world I worked a host of different jobs. The promise of constantly learning new skills and overcoming obstacles as part of a team charmed me into software development. I find customer feedback an excellent inspiration to create better experiences and I'd love to integrate that passion into my craft as a developer.</p>
        <p id="ed-links" class="links">
        <a href="https://github.com/wordhou"><img src="/assets/githubicon.png"></img>
        </a>
        <a href="https://www.linkedin.com/in/ed-hou/"><img src="/assets/linkedinicon.png"></img>
        </a></p>


        <h2 id="jamesh2" class="member-name">James Mansour</h2>
        <img id="james" src="/assets/shay.jpg" class="hero" alt="James">
    <p class="intro" id="jamesp">James' blurb</p>
    <p id="james-links" class="links">
        <a href="https://github.com/F0rgiv"><img src="/assets/githubicon.png"></img>
        </a>
        <a href="https://www.linkedin.com/in/james-mansour/"><img src="/assets/linkedinicon.png"></img>
        </a></p>


        <h2 id="shayh2" class="member-name">Seamus Brown</h2>
        <img id="shay" src="/assets/shay.jpg" class="hero" alt="Andy">
        <p class="intro" id="shayp">Before I dove into the tech world I worked a host of different jobs. My love for solving problems led me from manufacturer to Digital Campaign Manager with a 6 digit ad budget at an ecommerce startup. I managed our site and thoroughly enjoyed implementing apps to make it more engaging to our customers. From there I moved into customer service which helped me refine my empathy and emotional intelligence. The promise of constantly learning new skills and overcoming obstacles as part of a team charmed me into software development. I find customer feedback an excellent inspiration to create better experiences and I'd love to integrate that passion into my craft as a developer.</p>
        <p id="shay-links" class="links">
            <a href="https://github.com/shaybrow"><img src="/assets/githubicon.png" class="links"></img>
            </a>
            <a href="www.linkedin.com/in/seamusryanbrown"><img src="/assets/linkedinicon.png"></img>
            </a></p>

</ul>
</main>
<footer th:replace="fragments/layout :: footer"> </footer>
</body>
</html>