<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head('Discover')">
<body>
<header th:replace="fragments/layout :: header"> </header>
<h1>Discover Creators</h1>
<section th:each=" user: ${users}">
    <ul>
    <li th:text="'Name: ' + ${user.displayName}"></li>
         <li th:if="${user.blurb}" th:text="'Blurb: ' + ${user.blurb}"></li>
        <li><a th:href="'/users/' + ${user.id}">See Profile</a></li>
        <div th:replace="fragments/follow :: follow(${user}) "></div>


<!--        profile pic-->
    </ul>

</section>
</body>
</html>