<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head('Login')">

</head>
<body >
<header th:replace="fragments/layout :: header"> </header>
    <main class="text-center">

        
        <form action="/login" method="post">

        <label class="form-control" for="input-username">username</label>
        <input class="form-control" id="input-username" type="text" name="username" required>

        <label class="form-floating" for="input-password">password</label>
        <input class="form-control" id="input-password" type="password" name="password" required>


        <input class="w-100 btn btn-lg btn-primary" type="submit" value="login">
        </form>
    </main>
<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>
