<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('My profile')">

</head>
<body>
<header th:replace="fragments/layout :: header"> </header>
    <main>
        <h1>My Profile</h1>
        <div class="row featurette">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img th:if="${userPrincipal.hasProfilePicture}" class="d-block mx-lg-auto img-fluid" th:src="${@appUserService.getProfilePicturePath(userPrincipal)}">
                </div>
                <ul class="col-md-7 order-md-2">
                    <li class="featurette-heading" th:text="'Username: ' + ${userPrincipal.username}"></li>
                    <li class="lead" th:text="'Display Name: ' + ${userPrincipal.displayName}"></li>
                    <li class="lead" th:if="${userPrincipal.bio}" th:text="'Bio: ' + ${userPrincipal.bio}"></li>
                    <li class="lead" th:unless="${userPrincipal.bio}">Bio: Add your bio below!</li>
                    <li class="lead" th:if="${userPrincipal.blurb}" th:text="'Blurb: ' + ${userPrincipal.blurb}"></li>
                    <li class="lead" th:unless="${userPrincipal.blurb}" >Blurb: Add a short something about yourself below!</li>
                    <li class="lead" th:if="${userPrincipal.creator}">Creator: &#10004;</li>
                    <li class="lead" th:unless="${userPrincipal.creator}">Creator: &#10006;</li>


                </ul>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="col-10 mx-auto col-lg-5">
            <form class="mb-3 form-check form-switch" action="/profile/is-creator?_method=DELETE" method="post"
            th:if="${userPrincipal.creator}">
                <div>
                    <fieldset>
                        <input  class="btn-check"  id="btn-check" type="submit" value="">
                        <label class="btn btn-primary" for="btn-check">Click to turn off creator mode</label>
                    </fieldset>
                </div>
            </form>

            <form class="mb-3 form-check form-switch" action="/profile/is-creator?_method=PUT" method="post"
                  th:unless="${userPrincipal.creator}">
                <div>
                    <fieldset>
                        <input class="btn-check" id="btn-check-2" type="submit" value="">
                        <label class="btn btn-primary" for="btn-check-2">Click to turn on creator mode</label>
                    </fieldset>
                </div>
            </form>



            <form class="p-5 border rounded-3 bg-light" action="/profile?_method=PUT" method="post" enctype="multipart/form-data">
                <fieldset class="form-floating mb-3">
                    <input class="form-control" id="input-display-name" type="text" name="displayName">
                    <label class="floatingInput" for="input-display-name">Display Name</label>
                </fieldset>

                <fieldset class="form-floating mb-3">
                    <input class="form-control" id="input-blurb" type="text" name="blurb">
                    <label class="floatingInput" for="input-blurb">Blurb</label>
                </fieldset>
                <fieldset class="form-floating mb-3">
                    <textarea class="form-control" name="bio" id="textarea-bio" cols="30" rows="10"></textarea>
                    <label class="floatingInput" for="textarea-bio">Bio</label>
                </fieldset>
                <input type="submit" value="Update">
            </form>

            <form action="/profile/image?_method=PUT" method="post" enctype="multipart/form-data">
                <fieldset class="mb-3">
                    <label for="image-upload">Profile picture</label>
                    <input class="form-control form-control-sm"
                            name="image"
                           id="image-upload"
                           type="file" accept="image/*"></input>
                </fieldset>
                <input type="submit" value="Change Profile Image"></input>
            </form>
        </div>
    </main>
<footer th:replace="fragments/layout :: footer"></footer>

</body>
</html>