<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head('My profile')">

</head>
<body>
<header th:replace="fragments/layout :: header"> </header>
    <main>
        <h1>My Profile</h1>
        <ul>
            <li th:text="'Username:' + ${userPrincipal.username}"></li>
            <li th:text="'Display Name:' + ${userPrincipal.displayName}"></li>
            <li th:text="'Bio:' + ${userPrincipal.bio}"></li>
            <li th:text="'Blurb:' + ${userPrincipal.blurb}"></li>

        </ul>
        <form action="/profile?_method=PUT" method="post">
            <label for="displayName">Display Name</label>
            <input type="text" name="displayName">
            <input type="checkbox" name="isCreator">
            <label for="isCreator">Creator?</label>
            <label for="blurb" >Blurb</label>
            <input type="text" name="blurb">
            <label for="bio">Bio</label>
            <textarea name="bio" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="post">
        </form>

    </main>
<footer th:replace="fragments/layout :: footer"> </footer>

</body>
</html>