<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Posts')"></head>
<body>
<header th:replace="fragments/layout :: header"> </header>

<main>
    <div class="container">
        <form th:replace="fragments/add-post :: addPost"></form>
    </div>

    <div class="container">
    <h1>Posts</h1>
    <ul th:replace="fragments/post :: list(${posts})"></ul>
    </div>
</main>

<footer th:replace="fragments/layout :: footer"> </footer>
</body>
</html>
