<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments/head :: head('Message')"></head>
</head>
<body>
<main>
    <h1 th:text="'Messages with ' + ${correspondent.displayName}"></h1>
    <div th:replace="fragments/message :: threadList(${messages})"></div>
    <form action="/messages" method="post">
        <input type="text" name="text" placeholder="Respond...">
        <input type="submit" value="Send">
        <input type="hidden" name="userId" th:value="${correspondent.id}">
    </form>
</main>
<footer th:replace="fragments/layout :: footer"> </footer>
</body>
</html>