<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head('User Details')">
<body>
<header th:replace="fragments/layout :: header"> </header>
<main class="container px-4 py-5">
    <div class="clearfix py-3">
        <div class="col-md-5 float-md-end mb-3 ms-md-3">
            <img th:if="${user.hasProfilePicture}" class="d-block mx-lg-auto img-fluid" th:src="${@appUserService.getProfilePicturePath(user)}">
        </div>

        <h1 th:text="${user.displayName}"></h1>
        <h2 th:if="${user.blurb}" th:text="'Blurb: ' + ${user.blurb}"></h2>
        <p th:if="${user.bio}" th:text="'Bio: ' + ${user.bio}"></p>
        <div th:replace="fragments/follow :: follow(${user}) "></div>
        <br class="mb-2">
        <a th:if="${userPrincipal} and ${userPrincipal.id != user.id}" class="btn btn-secondary" th:href="'/users/' + ${user.id} + '/messages'" th:text="'Message ' + ${user.displayName}"></a>

        <section th:replace="fragments/post :: list(${posts})"></section>
    </div>
</main>
<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>