<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head('User Details')">
<body>
<header th:replace="fragments/layout :: header"> </header>
<ul>
    <li th:text="'Name: ' + ${user.displayName}"></li>
    <img th:if="${user.hasProfilePicture}" class="d-block mx-lg-auto img-fluid" th:src="${@appUserService.getProfilePicturePath(user)}">
    <li th:if="${user.blurb}" th:text="'Blurb: ' + ${user.blurb}"></li>
    <li th:if="${user.bio}" th:text="'Bio: ' + ${user.bio}"></li>
    <div th:replace="fragments/follow :: follow(${user}) "></div>
    <li><a th:href="'/users/' + ${user.id} + '/messages'" th:text="'Message ' + ${user.displayName}"></a></li>






<!--    profile picture-->
</ul>

<!-- to do list posts-->
</body>
</html>